<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.scrumsprints.dao.ScrumSprintsDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        scrum_sprints.id,
        scrum_sprints.sprint_name,
        scrum_sprints.product_id,
        scrum_sprints.team_id,
        scrum_sprints.sprint_goal,
        scrum_sprints.sprint_status,
        scrum_sprints.sprint_progress,
        scrum_sprints.total_man_day,
        scrum_sprints.consumed_hours,
        scrum_sprints.start_date,
        scrum_sprints.end_date,
        scrum_sprints.remark,
        scrum_sprints.is_deleted,
        scrum_sprints.create_time,
        scrum_sprints.update_time,
        scrum_sprints.creator,
        scrum_sprints.updater
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.scrumsprints.domain.vo.ScrumSprintsVO">
        SELECT
        <include refid="base_columns"/>
        FROM scrum_sprints
    </select>


</mapper>
